head {
  color: white;
}
title {
  color: white;
}
header {
  color: white;
}
body {
  background-color: teal;
}
nav {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}

img {
  border: solid 10px;
}
